<mat-card>
    <mat-card-title>Editar Produto</mat-card-title>
    <form>
      <mat-form-field class="nome">
        <mat-label>Nome</mat-label>
        <input matInput name="name" [(ngModel)]="product.name" />
      </mat-form-field>
  
      <mat-form-field class="costPrice">
        <mat-label >Preço R$</mat-label>
        <input matInput name="costPrice" [(ngModel)]="product.costPrice" />
      </mat-form-field>
      <mat-form-field class="markup">
        <mat-label >Margem de lucro (%) </mat-label>
        <input matInput name="markup" [(ngModel)]="product.markup" />
      </mat-form-field>
      <mat-form-field class="salePrice">
        <mat-label >Preço R$</mat-label>
        <input matInput name="salePrice" [(ngModel)]="product.salePrice" />
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button (click)="updateProduct()" color="primary">
        Salvar
      </button>
      <button mat-raised-button (click)="cancel()">Cancelar</button>
    </div>
  </mat-card>