.page {
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    background-color: #c5c5c5;
    width: 1000px;
    height: 500px;
}

.content {
    display: flex;
    border-radius: 15px;
    background-color: #e7e7e7;
    height: 250px;
    width: 1000px;
}

.card {
    border-radius: 15px;
    margin: 10px;
    width: 300px;
}
